/* Définition des polices personnalisées */

@font-face
{
    font-family: 'Lazy';
    src: url('polices/LazySunday-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body
{
    font-family: 'Trebuchet MS', Arial, sans-serif;
    color: #181818
    width:  100%;
    position: absolute;
    top: 0; left: 0;
    margin: auto;
}

#bloc_page
{
    background: url("images/jazz.jpg");
    background-size: cover;
    background-position: 0 0;
}

section h1, footer h1, nav a
{
    font-family: "Lazy", serif;
    font-weight: normal;
    text-transform: uppercase;
}

header
{
    background: url("images/bleu_pastel.jpg") repeat-x bottom;
    display: flex;
    justify-content: space-between;
}

#titre_principal
{
    display: flex;
    flex-direction: column;
}

#logo
{
    display: flex;
    flex-direction: row;
    align-items: baseline;
    margin: 17px;
}

header h2
{
    font-family: "Lazy", serif;
    font-size: 1em;
    font-weight: normal;
}

nav ul
{
    list-style-type: none;
    display: flex;
    margin-right: 5px;
    margin-top: 60px;
}

nav li
{
    font-size: 0.8m;
    margin-right: 15px;
}

nav a
{
    font-size: 1.7em;
    color: #181818;
    padding-bottom: 3px;
    text-decoration: none;
}

nav a:hover
{
    color: #bf0000;
    border-bottom: 3px solid #bf0000;
}

section
{
    margin-left: 500px;
    margin-right: 500px;
}

section h1
{
    font-size: 9em;
    margin-top: 40px;
    text-decoration: underline;
}

figure figcaption
{
    background-color: rgba(255, 255, 255, 80%);
    padding: 6px 0;
    font-size: 1.4em;
    border-radius: 10px 10px 5px 5px;
}

figure
{
    text-align: center;
    margin-bottom: 80px;
}

article, aside
{
    text-align: center;
}

article
{
    flex: 1;
    background: rgba(205, 237, 250, 60%);
    padding: 20px;
    border-radius: 10px;
}

article p
{
    font-size: 1em;
}

footer
{
    background: url("images/bleu_pastel.jpg");
}

footer p
{
    font-size: 0.8em;
}

footer h1
{
    font-size: 1.1em;
}

#container 
{
    display: flex;
}

#createur 
{
    font-family: "Lazy", serif;
    font-size: 1.1em;
    margin-left: 40px;
    margin-top: 35px;
    text-align: center;
    float: left;
}

#createur p
{
    font-size: 1.2em;
}

#last_majs 
{
    font-family: "Lazy", serif;
    font-size: 1.5em;
    margin-left: 900px;
    flex: 1;
}

#last_majs ul 
{
    list-style-type: disc;
}